<div class="btn-group-etc" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-outline-success"><%= link_to 'Max', max_path %></button>
  <button type="button" class="btn btn-outline-success"><%= link_to '12 months', twelve_months_path %></button>
  <button type="button" class="btn btn-outline-success"><%= link_to '6 months', six_months_path %></button>
  <button type="button" class="btn btn-outline-success"><%= link_to 'Year to Date', year_to_date_path %></button></button>
  <button type="button" class="btn btn-outline-success"><%= link_to 'Current Month', expenses_path %></button>
</div>